{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="has-text-centered">
      <h1 class="title is-2"><img src="{{ config.extra.logo }}"></img></h1>
      <p class="subtitle is-4">{{ section.description }}</p>
      {% if config.extra.author.avatar %}
      <figure class="image is-flex is-justify-content-center is-align-items-center">
        <img class="is-rounded" src="{{ config.extra.author.avatar }}" style="max-width: 192px" />
      </figure>
      {% endif %}
      <!-- {{ macros:: social_links( social_config=config.extra.social) }} -->
    </div>	
	<br/>
    <div class="content">
      {{ section.content | safe }}
    </div>
	<div>
		{% set blog_section = get_section(path="posts/_index.md") %}		
		{% if paginator %}
        {% set pages = paginator.pages %}
        {% else %}
        {% set pages = blog_section.pages %}
        {% endif %}

        {% for page in pages | slice(end=5) %}
        <article class="box">
          <h2 class="title">
            <a class="has-text-info-dark latest-titles" href='{{ page.permalink }}'>
              {{ page.title }}
            </a>
          </h2>
          <p class="subtitle">{{ page.description }}</p>
          <div class="columns is-multiline is-gapless">
            <div class="column is-8">
              {{ macros::page_publish_metadata(page=page) }}
            </div>
            <div class="column is-4 has-text-right-desktop">
              {{ macros::page_content_metadata(page=page) }}
            </div>
          </div>
        </article>
        {% endfor %}

	</div>
  </div>
</section>
{% endblock %}
